[submodule "hdl/dep/BSVTools"]
	path = dep/BSVTools
	url = https://github.com/timksf/BSVTools.git
[submodule "hdl/dep/BlueLib"]
	path = dep/BlueLib
	url = https://github.com/timksf/BlueLib.git
[submodule "hdl/dep/BlueAXI"]
	path = dep/BlueAXI
	url = https://github.com/timksf/BlueAXI.git
[submodule "dep/bluexlnx"]
	path = dep/bluexlnx
	url = https://github.com/timksf/bluexlnx.git
