.direnv/
.vscode/

# Build outputs
*build/
hdl/.deps
hdl__/
*_out
*_outv
*outv

# Simulation/generated artifacts
*.sched
*.vcd
*.o
*.so
__pycache__/
hdl/test/__pycache__/
hdl/src/rtl/lib/
hdl/src/rtl/testing/

*.hex

vivado*